## Optimize the Model

In [1]:
! pip install spark
! pip install pyspark
! pip install findspark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58748 sha256=1e37348b153a37fe9daf1b57a4972b5488c9e4118f5eaac7675b2e38848b574a
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=67e88a46bfab5c26228aefa677aaf47f7758945f046f24e6956f00d976657163
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns
application_df = application_df.drop(["EIN"], axis=1)

In [4]:
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME value counts to identify and replace with "Other"
name_counts = application_df['NAME'].value_counts()

#  How many name counts are greater than 5?
name_counts[name_counts>5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [6]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# Determine which values to replace if counts are less than 1000
classes_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classes_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [12]:
application_with_dummies_df = pd.get_dummies(application_df)

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                      │ (None, 100)                 │          39,900 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 30)                  │           3,030 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_6 (Dense)                      │ (None, 10)                  │             310 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_7 (Dense)                      │ (None, 1)                   │              11 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 43,251 (168.95 KB)

 Trainable params: 43,251 (168.95 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5151 - acc: 0.7636
Epoch 2/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4468 - acc: 0.7930
Epoch 3/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.4352 - acc: 0.7964
Epoch 4/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4303 - acc: 0.7974
Epoch 5/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.4273 - acc: 0.7969
Epoch 6/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.4255 - acc: 0.7967
Epoch 7/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.4238 - acc: 0.7984
Epoch 8/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4228 - acc: 0.7995
Epoch 9/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.4216 - acc: 0.8001
Epoch 10/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4200 - acc: 0.7999
Epoch 11/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.4202 - acc: 0.8019
Epoch 12/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4191 - acc: 0.8013
Epoch 13/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4182 - acc: 0.8007
Epoch 14/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.4179 - acc: 0.8024
Epoch 15/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4171 - acc: 0.8024
Epoch 16/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.4163 - acc: 0.8009
Epoch 17/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.4158 - acc: 0.8029
Epoch 18/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.4151 - acc: 0.8030
Epoch 19/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.4146 - acc: 0.8028
Epoch 20/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.4143 - acc: 0.8023
Epoch 21/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.4141 - acc: 0.8034
Epoch 22/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.4136 - acc: 0.8031
Epoch 23/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.4130 - acc: 0.8028
Epoch 24/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4129 - acc: 0.8034
Epoch 25/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4122 - acc: 0.8031
Epoch 26/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.4124 - acc: 0.8042
Epoch 27/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.4116 - acc: 0.8042
Epoch 28/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4111 - acc: 0.8033
Epoch 29/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4110 - acc: 0.8046
Epoch 30/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4106 - acc: 0.8046
Epoch 31/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4105 - acc: 0.8043
Epoch 32/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.4098 - acc: 0.8044
Epoch 33/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.4094 - acc: 0.8045
Epoch 34/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.4096 - acc: 0.8053
Epoch 35/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.4090 - acc: 0.8063
Epoch 36/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.4090 - acc: 0.8061
Epoch 37/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.4085 - acc: 0.8054
Epoch 38/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.4080 - acc: 0.8057
Epoch 39/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.4081 - acc: 0.8061
Epoch 40/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.4074 - acc: 0.8043
Epoch 41/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.4074 - acc: 0.8057
Epoch 42/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.4075 - acc: 0.8056
Epoch 43/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4072 - acc: 0.8064
Epoch 44/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.4071 - acc: 0.8065
Epoch 45/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4067 - acc: 0.8058
Epoch 46/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.4067 - acc: 0.8063
Epoch 47/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.4066 - acc: 0.8066
Epoch 48/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.4061 - acc: 0.8060
Epoch 49/100
25724/25724 [==============================] - 2s 77us/sample - loss: 0.4064 - acc: 0.8064
Epoch 50/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.4058 - acc: 0.8063
Epoch 51/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.4056 - acc: 0.8066
Epoch 52/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.4059 - acc: 0.8064
Epoch 53/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.4051 - acc: 0.8068
Epoch 54/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.4051 - acc: 0.8069
Epoch 55/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.4048 - acc: 0.8071
Epoch 56/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.4051 - acc: 0.8073
Epoch 57/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.4054 - acc: 0.8073
Epoch 58/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4050 - acc: 0.8064
Epoch 59/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.4051 - acc: 0.8058
Epoch 60/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.4053 - acc: 0.8070
Epoch 61/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.4045 - acc: 0.8070
Epoch 62/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.4044 - acc: 0.8077
Epoch 63/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4047 - acc: 0.8074
Epoch 64/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.4049 - acc: 0.8078
Epoch 65/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.4046 - acc: 0.8066
Epoch 66/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.4044 - acc: 0.80750s - loss: 0.4042 - acc: 0.807
Epoch 67/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4044 - acc: 0.8077
Epoch 68/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.4040 - acc: 0.8067
Epoch 69/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.4038 - acc: 0.8067
Epoch 70/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4042 - acc: 0.8067
Epoch 71/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4040 - acc: 0.8069
Epoch 72/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.4035 - acc: 0.8077
Epoch 73/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4041 - acc: 0.8068
Epoch 74/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.4036 - acc: 0.8068
Epoch 75/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.4036 - acc: 0.8076
Epoch 76/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4034 - acc: 0.8075
Epoch 77/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.4036 - acc: 0.8077
Epoch 78/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.4036 - acc: 0.8080
Epoch 79/100

25724/25724 [==============================] - 3s 99us/sample - loss: 0.4030 - acc: 0.8078
Epoch 80/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.4034 - acc: 0.8080
Epoch 81/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4033 - acc: 0.8077
Epoch 82/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4029 - acc: 0.8084
Epoch 83/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.4034 - acc: 0.8077
Epoch 84/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.4033 - acc: 0.8068
Epoch 85/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4027 - acc: 0.8084
Epoch 86/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.4027 - acc: 0.8087
Epoch 87/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.4028 - acc: 0.8082
Epoch 88/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4024 - acc: 0.8079
Epoch 89/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4033 - acc: 0.8082
Epoch 90/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.4026 - acc: 0.8082
Epoch 91/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.4025 - acc: 0.8084
Epoch 92/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.4023 - acc: 0.8078
Epoch 93/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4027 - acc: 0.8076
Epoch 94/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.4024 - acc: 0.8078
Epoch 95/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.4027 - acc: 0.8078
Epoch 96/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4027 - acc: 0.8080
Epoch 97/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.4021 - acc: 0.8079
Epoch 98/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.4028 - acc: 0.8074
Epoch 99/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.4022 - acc: 0.8079
Epoch 100/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.4023 - acc: 0.8083

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.4639 - loss: 0.6984
Loss: 0.6983791589736938, Accuracy: 0.4639067053794861

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.


1. What variable(s) are considered the target for your model? I_Successful


2. What variable(s) are considered to be the features for your model? features are as follows:
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2

---
3. What variable(s) are neither and should be removed from the input data? EIN

Compiling, Training, and Evaluating the Model
----
1. How many neurons, layers, and and activation functions did you select for your neural network model, and why?
---
2. Were you able to achieve the target model performance? Yes
---
3. What steps did you take to try and increase model performance? change name column to data points

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [21]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.776